fastprogress>=0.1.10
ipython
jupyter
matplotlib
nbconvert
nbformat
numpy>=1.15
pandas
Pillow
requests
scipy
spacy==2.0.16
regex
thinc==6.12.0
cymem==2.0.2
torchvision-nightly
traitlets
typing
pyyaml
fastai